*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
}

.container{
    height:100vh;
}

.header{
    background-color: #636e72;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

.color-section{
    height:50%;
    width:15%;
    margin-left: 2rem;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f1e3;
}

.colors{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.black,.red,.yellow,.green,.blue{
    height: 82%;
    width:15%;
    border-radius: 5px;
}

.black{
    background-color: black;
}

.red{
    background-color: #ff3f34;
}

.yellow{
    background-color: #fbc531;
}

.green{
    background-color: #00b894;
}

.blue{
    background-color: #0984e3;
}

.marker-width-section,.eraser-section{
    height:50%;
    width:9%;
    margin-left: 3rem;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f1e3;
}

.marker-width{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.w1,.w2,.w3{
    height:95%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w1,.w2{
    border-right:1px solid ;
}

.eraser-width{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f1e3;
}

.ew1,.ew2,.ew3{
    height:95%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ew1,.ew2{
    border-right:1px solid ;
}

.l1{
    height:15%;
    background-color: black;
    width:70%;
}

.l2{
    height:20%;
    background-color: black;
    width:70%;
}

.l3{
    height:26%;
    background-color: black;
    width:70%;
}

.c1{
    height:42%;
    width: 32%;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}

.c2{
    height:60%;
    width: 45%;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}

.c3{
    height:75%;
    width: 55%;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}

.zoom-section{
    height:50%;
    width:6%;
    margin-left: 3rem;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f1e3;
}

.zoom{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.zoom-in,.zoom-out{
    height:95%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons{
    font-size: 2rem!important;
}

.zoom-in{
    border-right: 1px solid;
}

.undo-redo-section{
    height:50%;
    width:6%;
    margin-left: 3rem;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f1e3;
}

.undo-redo{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.undo,.redo{
    height:95%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.undo{
    border-right: 1px solid;
}

.shapes-section{
    height:50%;
    width:12%;
    margin-left: 3rem;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f1e3;
}

.shapes{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.shapes div{
    height:95%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line,.rectangle,.circle{
    border-right: 1px solid;
}

.eraser-pen-section{
    height:50%;
    width:3%;
    margin-left: 3rem;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f1e3;
}

.eraser-pen{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.eraser{
    height:95%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colour-selected{
    transform: scale(1.03);
    border:2px solid black;
}

.width-selected{
    color: #576574;
}

canvas{
    cursor: crosshair;
}
